---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import arcanum from "../../public/arcanum.svg";
---

<Layout page="arcanum">
    <div class="flex flex-col items-center w-full mt-4 p-4 border border-[#30363d] rounded">
        <Image src={arcanum} loading="eager" alt="Arcanum Logo" class="w-12 h-12" />
        <div class="w-full text-center text-xs">
            Arcanum is an on-chain ETF protocol built upon a new crypto primitive - AAM (Automated Asset Manager) utilizing multipools. 
            Arcanum is enforced by unique balancing mechanisms of the ETFs' portfolio approved by the governance.
        </div>
    </div>
</Layout>
