---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import arcanum from "../../public/arcanum.svg";
---

<Layout page="arcanum">
    <div class="w-full mt-4 p-4 flex flex-col items-center border border-[#30363d] rounded">
        <Image src={arcanum} alt="Astro Logo" class="w-1/6 mx-auto" />
        <div class="sm:w-full md:w-full lg:w-full xl:w-full text-center text-lg">
            Arcanum is an on-chain ETF protocol built upon a new crypto primitive - AAM (Automated Asset Manager) utilizing multipools. 
            Arcanum is enforced by unique balancing mechanisms of the ETFs' portfolio approved by the governance.
        </div>
    </div>
</Layout>
