---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import smfigma from "../../public/smicons.jpg"
import avatarfull from "../../public/avatarfull.jpg"
---

<Layout page="assets">
    <div class="pt-4 w-full">
        <div class="grid grid-cols-[1fr,2fr] gap-2">
            <Image src={smfigma} loading="eager" alt="figma" class="rounded" />
            <div class="border border-[#30363d] rounded p-4 text-xs flex flex-col justify-between">
                Social Media icons
                <a class="text-purple-500" href="https://www.figma.com/community/file/929729132405358534" target="_blank">Figma</a>
            </div>
            <Image src={avatarfull} loading="eager" alt="avatar" class="rounded" />
            <div class="border border-[#30363d] rounded p-4 text-xs flex flex-col justify-between">
                No Game No Life: Yuu Kamiya Art Works
                <a class="text-purple-500" href="https://www.ebay.com/itm/264448308138?itmmeta=01HZWA3BCGQ815RZFYDP7N2DSX&hash=item3d9258f3aa:g:umwAAOSwXF5dac3N&itmprp=enc%3AAQAJAAAA8KYjiL5QX9npNIeIteo0GXYtUvqQdEa4BRvkfZGaAYQz0vmy81h37jSg6ZMycnTtBf3nLb%2BEe5tJ71e1r47z%2FAI%2BP1j1ilePeZ3TtNbKlTkvF1vrSEXp9Lj8bkTrUlHIIYLYEVIvVmTod44cx076cFrylp0wJCCTgEdVyWx45MkNxPTxSdguMQQ3mZ%2BvxD6qmbInvu71sHQYtk8Cn8oJc1ftMlfe9xSSakcDKymfOAAmeyCuWmXx8XEqWlLUxdePcPynyzIdDhzT0HsFBk4HkgZoz0jA1TpH4d2G%2F%2B%2F0jD0hq929aA9uOr0N3UmEYhbyTg%3D%3D%7Ctkp%3ABFBMrraNiv9j" target="_blank">eBay</a>
            </div>
        </div>
    </div>
</Layout>
