---
import { Image } from 'astro:assets';
import Avatar from '../../public/avatar.jpg';
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid pt-4 px-2 grid-cols-1 gap-2">
    <Image src={Avatar} alt="avatar" class="rounded-full w-full px-4" />
    <div class="border border-[#30363d] rounded p-4">
      <h1 class="text-3xl font-bold">Hi, I'm <span class="text-purple-500">RND</span></h1>
      <p class="text-lg">I'm a frontend engineer. I'm passionate about web development, open source and cryptocurrencies.</p>
      <p class="text-lg">I'm currently working at <a href="https://arcanum.to/" class="text-purple-500">Arcanum</a>.</p>
      <div class="mt-4">
        <h2 class="text-2xl font-bold">Skills</h2>
        <ul class="list-disc list-inside">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Astro</li>
          <li>Tailwind CSS</li>
          <li>Node.js</li>
          <li>PostgreSQL</li>
          <li>Git</li>
        </ul>
    </div>
  </div>
</Layout>

<style>
  /* on hover very cool color transition for links */
  a {
    text-decoration-color:blueviolet;
    transition: color 0.3s;
    text-decoration: solid underline blueviolet;
  }

  a:hover {
    color: purple;
  }
</style>
