---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Twittercircle from "../../public/twittercircle.png";
---

<Layout page="socials">
    <div class="p-2 w-full grid grid-cols-1 gap-2">
        <Image
            class="rounded-full w-full"
            src={Twittercircle}
            alt="Avatar"
        />

        <div class="border border-[#30363d] rounded p-2">
            <h1 class="font-bold">Socials</h1>

            <div class="flex flex-wrap gap-1">
                <div
                    class="w-fit plane border border-[#30363d] bg-[#30363d] rounded px-2 text-xs"
                >
                    <a
                        href="https://x.com/RND1707"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Twitter
                    </a>
                </div>
                <div
                    class="w-fit plane border border-[#30363d] bg-[#30363d] rounded px-2 text-xs"
                >
                    <a
                        href="https://github.com/RND332"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Github
                    </a>
                </div>
                <div
                    class="w-fit plane border border-[#30363d] bg-[#30363d] rounded px-2 text-xs"
                >
                    <a
                        href="https://t.me/rnd332"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Telegram
                    </a>
                </div>
                <div
                    class="w-fit plane border border-[#30363d] bg-[#30363d] rounded px-2 text-xs"
                >
                    <a
                        href="https://www.linkedin.com/in/talgat-minigaliev-2b7956231/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .plane:hover {
        transition: background-color 0.5s ease;
        background-color: #21252a;
    }
</style>
